  body{
    text-align: center;
    background-color: #bfd1f2;
  }
  
  canvas{
    border: 1px solid #788079;
    border-radius: 10px;
    background-color: #d9e6fc;
  }
  
  button{
    background-color: #5c6473;
    border: 2px solid #788079;
    border-radius: 20%;
  }